# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

__Objectives:__
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**

1. Python
2. SQl
3. R
4. Julia

**Some of the commonly used libraries used by Data Scientists include:**

1. Pandas
2. Numpy
3. Matplotlib
4. Scipy
5. Tensorflow
6. PyTorch

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
def minToHour(min):
    h = min // 60
    print("Hours",h)

min = 200
minToHour(min)

Hours 3

## Author
Kalpana Govindarajan